body {
    background: #e0e0e0;
}

#header {
    height: 150px;
    background: skyblue;
    width: 100%;
}

.image {
    font-size: 25px;
}

#header .characters {
    width: 120px;
    margin: 0 auto;
    padding-top: 120px;
    color: white;
    font-family: "微软雅黑";
    font-size: 20px;
}

.form {
    width: 260px;
    height: 270px;
    box-shadow: 2px 2px 5px #737383;
    margin: 0 auto;
    margin-top: 50px;
    background: white;
    padding: 20px 45px 0 45px;
}

.form-div {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    color: #737383;
}

.input {
    width: 90px;
    height: 25px;
    display: inline;
}

.btn {
    margin: 10px 0 0 100px;
}
